@import "tailwindcss";
@custom-variant dark (&:where(dark, .dark *));

@layer base {
    html, body {
        color-scheme: light !important;
        background-color: #f6f7f8; /* Your Light background */
        color: #0f172a; /* Slate 900 for text */
    }
}
